body {
    font-family: sans-serif;
    background-image: radial-gradient(circle, #FFFFFF);
    background-repeat: no-repeat;
    margin: 0;
    color: #eee;
    height: 100vh;
}

.card {
    background-color: #3dbbd5;
    width: 80%;
    height: 85%;
    display: flex;
    margin: 2em auto;
}

.card__left {
    width: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #222;
    padding: .5rem 0;
}

.caja__mensaje {
  text-align: center;
  border-radius: 15px;
  margin-left: : 3%;
  margin-right: 3%;
  height: 250px;
  background: #FFFFFF

}

.caja__blanca {
  text-align: center;
  border-radius: 15px;
  margin-left: : 3%;
  margin-right: 3%;
  margin-top: 2%;
  margin-bottom:2%;
  height: 57px;
  width: 50%;
  background: #FFFFFF

}

.card__right {
    width: 100%;
    padding: 0 3rem;
}

.card__title {
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-between;

}

.form__field {
    display: flex;
    flex-direction: column;
    margin: 4%;
}

.form__names {
    display: flex;
    justify-content: space-between;
    margin: 0.1%;
}

.form__names input {
    width: 100%;
}

.form__label {
    margin-bottom: .2rem;
    font-size: .8rem;
    text-align: left;
    color:black;
}

.form__input,
.form__textarea {
    background: none;
    resize: none;
    outline: none;
    border-top: black;
    border-left: black;
    border-right: black;
    color: black;
}

.form__textarea {
    outline: none;
    border: none;
    color: black;
    width: 90%;
    height: 80%;
    margin-top: 2%;
}

.form__submit {
    width: 45%;
    background: red;
    outline: none;
    resize: none;
    border: none;
    padding: .8rem;
    border-radius: 15px;
    text-transform: uppercase;
    color: inherit;
    margin: 2%;
    margin-left: 25%;
}

/*
border = diseño de bordes
radius = redondear algo
background = fondo opcional src="imagen"
background-color = color del fondo
margin = margen abosluto de arriba. abajo, izquierda y derecha
te hara un margen en la pantalla
margin-top = margin superior
margin-bot = margen inferior
margin-left = margen izquierdo
margin right = margen derecho
padding similar al margin pero UTILIZA LA ETIQUETA PADRE COMO margen
width = ancho
height= alto
min-width = ancho
max-height= alto
color= modifica el color de el elemento/etiqueta
outline = borde de textarea / orienta al usuario para saber donde estan los input textarea
 */
