<h2 class="team__title">Miembros de la comunidad</h2>
<span class="line__design"></span>

<section class="team-cards">
  <div class="team-cards__card-container">
    <h3 class="team-cards__card_title">Nombre</h3>
    <img class="team-cards__card_image" src="../../assets/img/avatar.svg" alt="">
    <div class="team-cards__container_social-media">
      <a class="team-cards__social-media-twitter" href="#"><i class="fab fa-twitter"></i></a>
      <a class="team-cards__social-media-linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
      <a class="team-cards__social-media-github" href="#"><i class="fab fa-github"></i></a>
    </div>
  </div>

  <div class="team-cards__card-container">
    <h3 class="team-cards__card_title">Nombre 2</h3>
    <img class="team-cards__card_image" src="../../assets/img/avatar.svg" alt="">
    <div class="team-cards__container_social-media">
      <a class="team-cards__social-media-twitter" href="#"><i class="fab fa-twitter"></i></a>
      <a class="team-cards__social-media-linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
      <a class="team-cards__social-media-github" href="#"><i class="fab fa-github"></i></a>
    </div>
  </div>

  <div class="team-cards__card-container">
    <h3 class="team-cards__card_title">Nombre 3</h3>
    <img class="team-cards__card_image" src="../../assets/img/avatar.svg" alt="">
    <div class="team-cards__container_social-media">
      <a class="team-cards__social-media-twitter" href="#"><i class="fab fa-twitter"></i></a>
      <a class="team-cards__social-media-linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
      <a class="team-cards__social-media-github" href="#"><i class="fab fa-github"></i></a>
    </div>
  </div>
</section>
