<h2 class="team__title">Miembros de la comunidad</h2>
<span class="line__design"></span>

<section class="team-cards">
  <div class="team-cards__card-container">
    <h3 class="team-cards__card_title">Romina Torres</h3>
    <img class="team-cards__card_image" src="../../assets/img/romina-torres.jpg" alt="">
    <div class="team-cards__container_social-media">
      <a class="team-cards__social-media-twitter" href="#"><i class="fab fa-twitter"></i></a>
      <a class="team-cards__social-media-linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
      <a class="team-cards__social-media-github" href="#"><i class="fab fa-github"></i></a>
    </div>
  </div>

  <div class="team-cards__card-container">
    <h3 class="team-cards__card_title">Giannina Costa</h3>
    <img class="team-cards__card_image" src="../../assets/img/giannina-costa.jpg" alt="">
    <div class="team-cards__container_social-media">
      <a class="team-cards__social-media-twitter" href="#"><i class="fab fa-twitter"></i></a>
      <a class="team-cards__social-media-linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
      <a class="team-cards__social-media-github" href="#"><i class="fab fa-github"></i></a>
    </div>
  </div>

  <div class="team-cards__card-container">
    <h3 class="team-cards__card_title">Vincent Depassier</h3>
    <img class="team-cards__card_image" src="../../assets/img/vincent-depassier.jpg" alt="">
    <div class="team-cards__container_social-media">
      <a class="team-cards__social-media-twitter" href="#"><i class="fab fa-twitter"></i></a>
      <a class="team-cards__social-media-linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
      <a class="team-cards__social-media-github" href="#"><i class="fab fa-github"></i></a>
    </div>
  </div>

  <div class="team-cards__card-container">
    <h3 class="team-cards__card_title">Matias Iturrieta</h3>
    <img class="team-cards__card_image" src="../../assets/img/matias-iturrieta.jpg" alt="">
    <div class="team-cards__container_social-media">
      <a class="team-cards__social-media-twitter" href="#"><i class="fab fa-twitter"></i></a>
      <a class="team-cards__social-media-linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
      <a class="team-cards__social-media-github" href="#"><i class="fab fa-github"></i></a>
    </div>
  </div>

  <div class="team-cards__card-container">
    <h3 class="team-cards__card_title">Belen Fassler</h3>
    <img class="team-cards__card_image" src="../../assets/img/belen-fassler.jpg" alt="">
    <div class="team-cards__container_social-media">
      <a class="team-cards__social-media-twitter" href="#"><i class="fab fa-twitter"></i></a>
      <a class="team-cards__social-media-linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
      <a class="team-cards__social-media-github" href="#"><i class="fab fa-github"></i></a>
    </div>
  </div>

  <div class="team-cards__card-container">
    <h3 class="team-cards__card_title">Lucas Andrade</h3>
    <img class="team-cards__card_image" src="../../assets/img/lucas-andrade.jpg" alt="">
    <div class="team-cards__container_social-media">
      <a class="team-cards__social-media-twitter" href="#"><i class="fab fa-twitter"></i></a>
      <a class="team-cards__social-media-linkedin" href="#"><i class="fab fa-linkedin-in"></i></a>
      <a class="team-cards__social-media-github" href="#"><i class="fab fa-github"></i></a>
    </div>
  </div>
</section>
