<section class="section__news mb-5">
  <div class="container__news">
      <h2 class="h2" style="color: #4BA3C3;">Ultimas Noticias</h2>
      <p class="lead p-2">Informate sobre los ultimos proyectos, conferencias y otras novedades.</p>
      <div class="card_news">
      <div class="new-card">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/9Qqy2e24AUg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="content__new">
          <h3 class="h3"> Vi-Gud <em style="font-size: small;">Proyecto</em></h3>
          <p>Por <a class="new__link" href="#">CommunityLab4U</a> | <span>Nov 21, 2018</span></p>
          <a href="https://www.youtube.com/embed/9Qqy2e24AUg" target="_blank" class="btn">Ver más</a>
          </div>
      </div>
      <div class="new-card">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/9Qqy2e24AUg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="content__new">
          <h3 class="h3"> Vi-Gud <em style="font-size: small;">Proyecto</em></h3>
          <p>Por <a class="new__link" href="#">CommunityLab4U</a> | <span>Nov 21, 2018</span></p>
          <a href="https://www.youtube.com/watch?v=wkW7QKHjBeE" target="_blank" class="btn">Ver más</a>
          </div>
      </div>
      <div class="new-card">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/9Qqy2e24AUg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="content__new">
          <h3 class="h3"> Vi-Gud <em style="font-size: small;">Proyecto</em></h3>
          <p>Por <a class="new__link" href="#">CommunityLab4U</a> | <span>Nov 21, 2018</span></p>
          <a href="https://www.youtube.com/embed/9Qqy2e24AUg" target="_blank" class="btn">Ver más</a>
          </div>
      </div>
      <div class="new-card">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/9Qqy2e24AUg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="content__new">
          <h3 class="h3"> Vi-Gud <em style="font-size: small;">Proyecto</em></h3>
          <p>Por <a class="new__link" href="#">CommunityLab4U</a> | <span>Nov 21, 2018</span></p>
          <a href="https://www.youtube.com/embed/9Qqy2e24AUg" target="_blank" class="btn">Ver más</a>
          </div>
      </div>
      </div>
  </div>
</section>
