<nav class="intro-fixed-nav navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="#"><img src="../../../assets/img/logo-unab.png" alt="Logo Universidad Andrés Bello" width="100px"></a>
  <a class="navbar-brand" href="#"><img src="../../../assets/img/logo-cl4u.png" alt="Logo CommunityLab4U" width="100px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">INICIO <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#carouselExampleIndicators">PROPÓSITO</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            INVESTIGACIÓN
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item text-secondary" href="#">Investigación Aplicada</a>
            <a class="dropdown-item text-secondary" href="#">Vinculacion con el Medio</a>
            <a class="dropdown-item text-secondary" href="#">Academia de innovación y emprendimiento</a>
            <a class="dropdown-item text-secondary" href="#">Academia de Desarrolladores</a>
            <a class="dropdown-item text-secondary" href="#">Academia de Programadores</a>
            <a class="dropdown-item text-secondary" href="#">Emprendimientos</a>
            <a class="dropdown-item text-center font-weight-bold" href="#">VER TODO</a>
          </div>
        </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">EQUIPO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" routerLink="Galeria">GALERÍA</a>
        </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#red_contact">CONTACTO</a>
      </li>
    </ul>
  </div>
</nav>
