<nav class="sticky-top navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="#"><img src="../../../assets/img/logo-unab.png" alt="Logo Universidad Andrés Bello" width="100px"></a>
  <a class="navbar-brand" href="#"><img src="../../../assets/img/logo-cl4u.png" alt="Logo CommunityLab4U" width="100px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="config_nav__items collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="config_nav__list-items navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#informacion">Propósito</a>
      </li>
      <li class="nav-item dropdown">
          <a class="investigation__deploy nav-link" href="#" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
            Investigación
          </a>
          <img class="investigation__svg" src="../../../assets/img/dropdown.svg" alt="" width="20px">
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="margin: 0;">
            <a class="dropdown-item" href="#">Investigación aplicada</a>
            <a class="dropdown-item" href="#">Vinculacion con el medio</a>
            <a class="dropdown-item" href="#">Academia de innovación y emprendimiento</a>
            <a class="dropdown-item" href="#">Academia de desarrolladores</a>
            <a class="dropdown-item" href="#">Academia de programadores</a>
            <a class="dropdown-item" href="#">Emprendimientos</a>
            <a class="dropdown-item text-center" href="#">Ver todo</a>
          </div>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Equipo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Galeria">Galería</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contacto">Contacto</a>
      </li>
    </ul>
  </div>
</nav>
