<nav class="sticky-top navbar navbar-expand-lg navbar-light bg-white" id="navbar">
  <a class="navbar-brand" href="#"><img src="../../../assets/img/logo-unab.png" alt="Logo Universidad Andrés Bello" width="100px"></a>
  <a class="navbar-brand" href="#"><img src="../../../assets/img/logo-cl4u.png" alt="Logo CommunityLab4U" width="100px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="config_nav__items collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="config_nav__list-items navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="toTop()" routerLink="" routerLinkActive="nav-active-link">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toPurpose()" routerLink="/proposito">Propósito</a>
      </li>
      <li class="nav-item dropdown">
          <a class="investigation__deploy nav-link" routerLink="/investigacion" routerLinkActive="nav-active-link" data-toggle="dropdown" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false" (click)="toTop()">
            Investigación
          </a>
          <img class="investigation__svg" src="../../../assets/img/dropdown.svg" alt="" width="13px">
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="margin: 0;">
            <a class="dropdown-item" routerLink="/investigacion/investigacion-aplicada" (click)="toInvApl()">Investigación aplicada</a>
            <a class="dropdown-item" routerLink="/investigacion/vinculacion-con-el-medio" (click)="toVinMed()">Vinculacion con el medio</a>
            <a class="dropdown-item" routerLink="/investigacion/academia-innovacion-emprendimiento" (click)="toAcaIE()">Academia de innovación y emprendimiento</a>
            <a class="dropdown-item" routerLink="/investigacion/academia-desarrolladores" (click)="toAcaDe()">Academia de desarrolladores</a>
            <a class="dropdown-item" routerLink="/investigacion/academia-programadores" (click)="toAcaPro()">Academia de programadores</a>
            <a class="dropdown-item" routerLink="/investigacion/emprendimientos" (click)="toEmp()">Emprendimientos</a>
            <a class="dropdown-item text-center" routerLink="/investigacion" (click)="toTop()">Ver todo</a>
          </div>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/equipo" routerLinkActive="nav-active-link" (click)="toTop()">Equipo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/galeria" routerLinkActive="nav-active-link" (click)="toTop()">Galería</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toContact()" routerLink="/contacto">Contacto</a>
      </li>
    </ul>
  </div>
</nav>
