<div class="card">
    <div class="card-body">
        <h3 class="card-tittle">gracias por escribirnos!</h3>
        <div class="form-group">
            <p class="text-center">
                we have sent a confirmation email to <strong>EMAIL</strong>
            </p>
            <p class="text-center">
                please check your email and click on the ink to verify your email
                address. 
            </p>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Resend verificacion email</button>
        </div>
    </div>
</div>
