.gallery__title{
  font-weight: 400;
  text-align: center;
  padding: 20px 0;
  font-size: 40px;
}
.line__design{
  background-color: var(--color-primario);
  height: 5px;
  width: 100%;
  display: block;
}
.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 10px;

  width: 95%;
  padding: 40px 0;
  margin: auto;

  overflow: hidden;

} .gallery img{
  width: 100%;
  vertical-align: top;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s;
} .gallery a{
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
} .gallery a:hover img{
  filter: blur(2px);
  transform: rotate(10deg) scale(1.3);
}
