<div class="gallery">
  <div class="gallery__description">
      <h1>Galeria de imagenes</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita veniam culpa placeat excepturi harum dicta consectetur unde consequatur. Ipsum natus voluptate eum eos excepturi deleniti molestiae provident architecto dicta aliquid!</p>
  </div>
  <div class="gallery__items">
      <input type="button" value="Proyectos">
      <input type="button" value="Equipo">
      <input type="button" value="Infraestructura">
      <input type="button" value="Eventos">
      <input type="button" value="Reuniones">
      <input type="button" value="Procesos">
      <input type="button" value="Trabajos">
  </div>
  <div class="gallery__images">
      <img src="https://images.unsplash.com/photo-1603297427541-ed9aed6f0dbd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
      <img src="https://images.unsplash.com/photo-1593643946890-b5b85ade6451?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1529&q=80" alt="">
      <img src="https://images.unsplash.com/photo-1593642532842-98d0fd5ebc1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
      <img src="https://images.unsplash.com/photo-1603298624547-e38905ce21d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
      <img src="https://images.unsplash.com/photo-1603205562892-7c96fa1e95d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
      <img src="https://images.unsplash.com/photo-1603203349869-02a3f4f1add3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
      <img src="https://images.unsplash.com/photo-1603292159519-fea290879272?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=662&q=80" alt="">
      <img src="https://images.unsplash.com/photo-1593642634367-d91a135587b5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">
      <img src="https://images.unsplash.com/photo-1603211234763-b279ec387d64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
      <img src="https://images.unsplash.com/photo-1603270872419-c53c6d705028?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
      <img src="https://images.unsplash.com/photo-1603188327944-e77635f5de1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
  </div>
</div>
