<h2 class="gallery__title">Galeria de imagenes</h2>
<span class="line__design"></span>
<section class="gallery">
  <a href="/Galeria#gallery_image1">
    <img src="https://cdn.pixabay.com/photo/2016/03/27/16/23/woman-1283009__340.jpg" alt=""></a>
  <a href="/Galeria#gallery_image2">
    <img src="https://cdn.pixabay.com/photo/2019/06/23/15/29/great-gallery-4293985__340.jpg" alt=""></a>
  <a href="/Galeria#gallery_image3">
    <img src="https://cdn.pixabay.com/photo/2020/04/20/08/25/art-gallery-5067113__340.jpg" alt=""></a>
  <a href="/Galeria#gallery_image4">
    <img src="https://cdn.pixabay.com/photo/2017/04/13/17/48/floor-2228277__340.jpg" alt=""></a>
  <a href="/Galeria#gallery_image5">
    <img src="https://cdn.pixabay.com/photo/2018/07/15/12/53/interior-3539570__340.jpg" alt=""></a>
  <a href="/Galeria#gallery_image6">
    <img src="https://cdn.pixabay.com/photo/2015/04/03/20/52/milan-705880__340.jpg" alt=""></a>
</section>

<article class="gallery__light-box" id="/Galeria#gallery_image1">
  <a href=""></a>
  <img src="https://cdn.pixabay.com/photo/2016/03/27/16/23/woman-1283009__340.jpg" alt="">
  <a href=""></a>
</article>
