<h2 class="gallery__title">Galería de imágenes</h2>
<span class="line__design"></span>
<section class="gallery">
  <a href="/galeria#gallery_image1">
    <img src="../../assets/img/banner-test.PNG" alt=""></a>
  <a href="/galeria#gallery_image2">
    <img src="../../assets/img/dis2.jpg" alt=""></a>
  <a href="/galeria#gallery_image3">
    <img src="../../assets/img/dis3.jpg" alt=""></a>
  <a href="/galeria#gallery_image4">
    <img src="../../assets/img/dis4.jpg" alt=""></a>
  <a href="/galeria#gallery_image5">
    <img src="../../assets/img/dis5.jpg" alt=""></a>
  <a href="/galeria#gallery_image6">
    <img src="../../assets/img/dis6.jpg" alt=""></a>
</section>

<!-- Light-Box de imagenes -->

<article class="gallery__light-box" id="gallery_image1">
  <a href="/galeria#gallery_image6" class="gallery__light-box__arrow"><i class="fas fa-arrow-left"></i></a>
  <img src="../../assets/img/banner-test.PNG" alt="">
  <a href="/galeria#gallery_image2" class="gallery__light-box__arrow"><i class="fas fa-arrow-right"></i></a>
  <a href="/galeria#" class="gallery__light-box__close">CERRAR</a>
</article>

<article class="gallery__light-box" id="gallery_image2">
  <a href="/galeria#gallery_image1" class="gallery__light-box__arrow"><i class="fas fa-arrow-left"></i></a>
  <img src="../../assets/img/dis2.jpg" alt="">
  <a href="/galeria#gallery_image3" class="gallery__light-box__arrow"><i class="fas fa-arrow-right"></i></a>
  <a href="/galeria#" class="gallery__light-box__close">CERRAR</a>
</article>

<article class="gallery__light-box" id="gallery_image3">
  <a href="/galeria#gallery_image2" class="gallery__light-box__arrow"><i class="fas fa-arrow-left"></i></a>
  <img src="../../assets/img/dis3.jpg" alt="">
  <a href="/galeria#gallery_image4" class="gallery__light-box__arrow"><i class="fas fa-arrow-right"></i></a>
  <a href="/Galeria#" class="gallery__light-box__close">CERRAR</a>
</article>

<article class="gallery__light-box" id="gallery_image4">
  <a href="/galeria#gallery_image3" class="gallery__light-box__arrow"><i class="fas fa-arrow-left"></i></a>
  <img src="../../assets/img/dis4.jpg" alt="">
  <a href="/galeria#gallery_image5" class="gallery__light-box__arrow"><i class="fas fa-arrow-right"></i></a>
  <a href="/galeria#" class="gallery__light-box__close">CERRAR</a>
</article>

<article class="gallery__light-box" id="gallery_image5">
  <a href="/galeria#gallery_image4" class="gallery__light-box__arrow"><i class="fas fa-arrow-left"></i></a>
  <img src="../../assets/img/dis5.jpg" alt="">
  <a href="/galeria#gallery_image6" class="gallery__light-box__arrow"><i class="fas fa-arrow-right"></i></a>
  <a href="/galeria#" class="gallery__light-box__close">CERRAR</a>
</article>

<article class="gallery__light-box" id="gallery_image6">
  <a href="/galeria#gallery_image5" class="gallery__light-box__arrow"><i class="fas fa-arrow-left"></i></a>
  <img src="../../assets/img/dis6.jpg" alt="">
  <a href="/galeria#gallery_image1" class="gallery__light-box__arrow"><i class="fas fa-arrow-right"></i></a>
  <a href="/galeria#" class="gallery__light-box__close">CERRAR</a>
</article>
