<footer class="container-footer">
  <div class="footer-contain">

    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6691.092304064512!2d-71.54558475180932!3d-33.01573894979112!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x95000465d49a556c!2sUniversidad%20Andr%C3%A9s%20Bello%3A%20sede%20Vi%C3%B1a%20del%20Mar!5e0!3m2!1ses-419!2scl!4v1602972037077!5m2!1ses-419!2scl" width="100%" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>

    <div class="enlaces">
      <h2 class="enlaces__title">Asociados</h2>
      <ul class="enlaces__list">

        <li class="enlaces__list-item">
          <a href="https://www.unab.cl/">Universidad Andrés Bello</a>
        </li>

        <li class="enlaces__list-item">
          <a href="https://www.informatica-unab-vm.cl/">Informática UNAB - Viña del Mar</a>
        </li>

      </ul>
    </div>
  </div>

  <div class="footer-copyright-socialmedia">

    <div class="footer__socialmedia">
      <a href="#"><i class="fab fa-twitter"></i> </a>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>

    <div class="footer__copyright"> © 2020 Copyright:
        <a href="">CommunityLab4u.cl</a>
    </div>

  </div>
</footer>

