<div>
  <h2 class="investigation__title">¡Échale un vistazo a nuestros proyectos, investigaciones y más!</h2>
  <span class="line__design mb-5"></span>

  <details class="acordeon">
    <summary class="acordeon__title">Investigación aplicada</summary>

    <div class="container-projects__inv-apl-1">
      <h3 class="title__proj">WorkShops</h3>
      <p class="paragraph__proj">Visita los workshops que hemos realizado y averigua los que vendrán</p>
      <button class="button__proj btn">Ver más</button>
    </div>

    <div class="container-projects__inv-apl-2">
      <h3 class="title__proj">Ferias</h3>
      <p class="paragraph__proj">En nuestras ferias y exposiciones, nuestros alumnos presentan sus proyectos. Además contamos con las visitas de empresas del rubro, quienes nos presentan nuevas tecnologías</p>
      <button class="button__proj btn">Ver más</button>
    </div>

  </details>

  <details class="acordeon">
    <summary class="acordeon__title text-right">Vinculacion con el medio</summary>
    <div class="container-projects__vin-med">
      <p class="none-projects-paragraph">Aún no tenemos contenido disponible :(</p>
    </div>
  </details>

  <details class="acordeon">
    <summary class="acordeon__title">Academia de innovación y emprendimiento</summary>
    <div class="container-projects__aca-ie">
      <p class="none-projects-paragraph">Aún no tenemos contenido disponible :(</p>
    </div>
  </details>

  <details class="acordeon">
    <summary class="acordeon__title text-right">Academia de desarrolladores</summary>
    <div class="container-projects__aca-des">
      <p class="none-projects-paragraph">Aún no tenemos contenido disponible :(</p>
    </div>
  </details>

  <details class="acordeon">
    <summary class="acordeon__title">Academia de programadores</summary>
    <div class="container-projects__aca-pro">
      <p class="none-projects-paragraph">Aún no tenemos contenido disponible :(</p>
    </div>
  </details>

  <details class="acordeon">
    <summary class="acordeon__title text-right">Emprendimientos</summary>
    <div class="container-projects__emp">
      <p class="none-projects-paragraph">Aún no tenemos contenido disponible :(</p>
    </div>
  </details>
</div>
