<h2 class="investigation__title">¡Échale un vistazo a nuestros proyectos!</h2>
<span class="line__design"></span>

<details class="acordeon mt-5">
  <summary class="acordeon__title">Investigación aplicada</summary>
  <div class="container-projects">
      <img class="acordeon__projects" src="img/adp1.PNG" alt="">
  </div>
</details>
<details class="acordeon">
  <summary class="acordeon__title text-right">Vinculacion con el medio</summary>
  <div class="container-projects">
      <img class="acordeon__projects" src="img/adp1.PNG" alt="">
  </div>
</details>
<details class="acordeon">
  <summary class="acordeon__title">Academia de innovación y emprendimiento</summary>
  <div class="container-projects">
      <img class="acordeon__projects" src="img/adp1.PNG" alt="">
  </div>
</details>
<details class="acordeon">
  <summary class="acordeon__title text-right">Academia de desarrolladores</summary>
  <div class="container-projects">
      <img class="acordeon__projects" src="img/adp1.PNG" alt="">
  </div>
</details>
<details class="acordeon">
  <summary class="acordeon__title">Academia de programadores</summary>
  <div class="container-projects">
      <img class="acordeon__projects" src="img/adp1.PNG" alt="">
  </div>
</details>
<details class="acordeon">
  <summary class="acordeon__title text-right">Emprendimientos</summary>
  <div class="container-projects">
      <img class="acordeon__projects" src="img/adp1.PNG" alt="">
  </div>
</details>
