body{
    background-color: rgb(80, 157, 177);
    margin: 0;
}

/*------------- body ------------*/

.box-gears__background{
    border: 4px solid black;

    background-image: url(img/background-gears.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    margin-left: auto;
    margin-right: auto;

    height: 500px;
    width: 980px;

    position: relative;
}

/*GEARS-LINK*/
[class^="gear_link"]{
    border-radius: 50%;
    position: absolute;
    opacity: .5;
}
[class^="gear_link"]:hover{
    opacity: 1;
}

/*GEARS-IMAGES-LINKS*/
.gear_link-view-all{
    top: 4.5em;
    left: 22em;
    opacity: 1;
}
.gear_link-view-all img{
    width: 230px;
}
.gear_link-applied-investigation{
    top: 2.5em;
    left: 9.7em;
}
.gear_link-applied-investigation img{
    width: 190px;
}
.gear_link-innovation-academy{
    top: 13.4em;
    left: 15em;
}
.gear_link-innovation-academy img{
    width: 145px;
}
.gear_link-bonding{
    top: 11.4em;
    left: 1.6em;
}
.gear_link-bonding img{
    width: 210px;
}
.gear_link-entrepreneurship{
    top: 1.2em;
    left: 34.6em;
}
.gear_link-entrepreneurship img{
    width: 155px;
}
.gear_link-developers-academy{
    top: 10.1em;
    left: 35.5em;
}
.gear_link-developers-academy img{
    width: 245px;
}
.gear_link-programmers-academy{
    top: 10.6em;
    left: 50em;
}
.gear_link-programmers-academy img{
    width: 150px;
}

/*------------- rotate-animation ------------*/

/*ROTATE LEFT*/

@keyframes animation-rotate-left-axis{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.rotate-left-axis{
    transform-box: fill-box;
    -webkit-animation: animation-rotate-left-axis linear 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
}

/*ROTATE RIGHT*/

@keyframes animation-rotate-right-axis{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate-right-axis{
    transform-box: fill-box;
    -webkit-animation: animation-rotate-right-axis linear 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: center;
}