body{
    background-color: rgb(80, 157, 177);
}

/*------------- body ------------*/

.box-gears__background{
    border: 4px solid black;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    background-image: url(img/background-gears.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    height: 600px;
    width: 1200px;
    max-width: 100%;
}

/*IMAGES*/
[class$="axis"]{
    /* border: 2px solid orangered; */
    max-width: 100%;
}
/*GEARS-LINK*/
[class^="gear_link"]{
    border: 2px solid rgb(145, 255, 160);
    position: relative;
}

.gear_link-view-all{
    top: 13%;
    left: 34%;
}
.gear_link-applied-investigation{
    left: -11%;
}
.gear_link-innovation-academy{
    top: 21%;
    left: -20%;
}
.gear_link-bonding{
    top: 24%;
    left: -55%;
}
.gear_link-entrepreneurship{
    top: -12%;
    left: -19%;
}
.gear_link-developers-academy{
    top: -18%;
    left: 61%;
}
.gear_link-programmers-academy{
    left: 59%;
    top: -34%;
}

/*------------- rotate-animation ------------*/

/*ROTATE LEFT*/

@keyframes animation-rotate-left-axis{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.rotate-left-axis{
    transform-box: fill-box;
    -webkit-animation: animation-rotate-left-axis linear 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
}

/*ROTATE RIGHT*/

@keyframes animation-rotate-right-axis{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate-right-axis{
    transform-box: fill-box;
    -webkit-animation: animation-rotate-right-axis linear 4s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: center;
}