<div class="form-container-div">
  <h2 class="form-container__title">Contactate con nosotros</h2>
  <form class="form-container" action="correo.php" method="POST">
    <div class="form-row">
      <div class="form-group col-md-6">
        <input  type="text" name="nombre" class="form-control" placeholder="Nombre completo">
      </div>
      <div class="form-group col-md-6">
        <input  type="email" name="email" class="form-control" placeholder="Correo">
      </div>
    </div>
    <div class="form-group">
      <input  type="text" name="asunto" class="form-control" placeholder="Asunto">
    </div>
    <div class="form-group">
      <textarea type="text" name="mensaje" id="" rows="3" class="message-info form-control" placeholder="Tu mensaje..."></textarea>
    </div>
    <button  class="send-info btn btn-dark">Enviar mensaje</button>
  </form>
</div>
