<div class="form-container-div">
  <h2 class="form-container__title">Contactate con nosotros</h2>
  <form class="form-container">
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" placeholder="Nombre completo">
      </div>
      <div class="form-group col-md-6">
        <input type="email" class="form-control" placeholder="Correo">
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Asunto">
    </div>
    <div class="form-group">
      <textarea class="message-info form-control" placeholder="Tu mensaje..."></textarea>
    </div>
    <button type="submit" class="send-info btn btn-dark">ENVIAR</button>
  </form>
</div>
