<div class="engranes pt-5 pb-5">
  <div class="box-gears__background mx-auto">
      <a routerLink="/Investigacion" class="gear_link-view-all" style="text-decoration: none;">
          <img class="gear-view-all__image rotate-left-axis" src="../../../assets/img/view-all.png" alt="Ir a VER TODOS">
          <p class="h3">Ver todo</p>
      </a>
      <!-- LEFT CENTER -->
      <a routerLink="/Investigacion/investigacion-aplicada" class="gear_link-applied-investigation" style="text-decoration: none;">
          <img class="gear-applied-investigation__image rotate-left-axis" src="../../../assets/img/applied-investigation.png" alt="Ir a Investigacion Aplicada">
          <p class="h3">Investigacion Aplicada</p>
      </a>
      <a routerLink="/Investigacion/academia-innovacion-emprendimiento" class="gear_link-innovation-academy" style="text-decoration: none;">
          <img class="gear-innovation-academy__image rotate-right-axis" src="../../../assets/img/innovation-academy.png" alt="Ir a Academia de Innovacion">
          <p class="h3">Academia de Innovacion</p>

      </a>
      <a routerLink="/Investigacion/vinculacion-con-el-medio" class="gear_link-bonding" style="text-decoration: none;">
          <img class="gear-bonding__image rotate-right-axis" src="../../../assets/img/bonding.png" alt="Ir a Vinculacion con el Medio">
          <p class="h3">Vinculación con el Medio</p>
      </a>
      <!-- RIGHT CENTER -->
      <a routerLink="/Investigacion/emprendimientos" class="gear_link-entrepreneurship" style="text-decoration: none;">
          <img class="gear-entrepreneurship__image rotate-right-axis" src="../../../assets/img/entrepreneurship.png" alt="Ir a Emprendimiento">
          <p class="h3">Emprendimiento</p>
      </a>
      <a routerLink="/Investigacion/academia-desarrolladores" class="gear_link-developers-academy" style="text-decoration: none;">
          <img class="gear-developers-academy__image rotate-left-axis" src="../../../assets/img/developers-academy.png" alt="Ir a Academia de Desarrollares">
          <p class="h3">Academia de Desarrollares</p>
      </a>
      <a routerLink="/Investigacion/academia-programadores" class="gear_link-programmers-academy" style="text-decoration: none;">
          <img class="gear-programmers-academy__image rotate-right-axis" src="../../../assets/img/programmers-academy.png" alt="Ir a Academia de Programadores">
          <p class="h3">Academia de Programadores</p>
      </a>
  </div>
</div>
