<div id="informacion" class="carousel slide pt-3 pb-3 mb-5" data-ride="carousel" data-interval="25000">
  <ol class="carousel-indicators" style="background-color: #4BA3C3;">
    <li data-target="#informacion" data-slide-to="0" class="active"></li>
    <li data-target="#informacion" data-slide-to="1"></li>
    <li data-target="#informacion" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active p-5">
      <div class="container-sm" style="color: #4BA3C3;">
        <h2 class="h2 text-center mb-2">¿Qué es CommunityLab4U?</h2>
        <div class="slider__cont-1 d-flex justify-content-around">
          <p class="slider__paragraph-1 lead text-dark align-self-center">El CommunityLab4U es un Community software development Lab.</p>
          <img class="slider__img-1 align-self-center" src="../../../assets/img/logo-cl4u.png" alt="" style="max-width: 100%;">
        </div>
      </div>
    </div>
    <div class="carousel-item p-5">
      <div class="container-sm" style="color: #4BA3C3;">
        <h2 class="h2 text-center mb-2">Objetivo</h2>
        <div class="slider__cont-2 d-flex justify-content-around">
          <p class="slider__paragraph-2 lead text-dark align-self-center">Es un city lab que tiene por objetivo gestionar y desarrollar soluciones tecnológicas que interactúan con los ciudadanos para fomentar una mejor calidad de vida apoyado por la tecnología.</p>
          <img class="slider__img-2 align-self-center" src="../../../assets/img/logo-cl4u.png" alt="" style="max-width: 100%;">
        </div>
      </div>
    </div>
    <div class="carousel-item p-5">
      <div class="container-sm" style="color: #4BA3C3;">
        <h2 class="h2 text-center mb-4">Planificacion y Desarrollo</h2>
        <div class="slider__cont-3 d-flex justify-content-around">
          <p class="slider__paragraph-3 lead text-dark align-self-center">La planificación y desarrollo de este tipo de proyectos le otorga un alto valor agregado a la oferta de las carreras involucradas en la sede Viña del Mar de la Universidad Andrés Bello, haciendo énfasis en una oferta que está altamente vinculada al territorio, donde sus profesores trabajan de manera colaborativa en investigación aplicada con sus alumnos y organismos regionales e internacionales, entregando soluciones tecnológicas con un sello de innovación, apalancado en un grupo interdisciplinario de académicos investigadores y tecnología de punta.</p>
          <img class="slider__img-3 align-self-center" src="../../../assets/img/logo-cl4u.png" alt="" style="max-width: 100%;">
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#informacion" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: #4BA3C3 ; border-radius: 5%;"></span>
  </a>
  <a class="carousel-control-next" href="#informacion" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: #4BA3C3 ; border-radius: 5%;"></span>
  </a>
</div>
