[class^="slider__paragraph"]{
  width: 60%;
  text-align: justify;
}

.container-carousel {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.carousel__title{
  font-family: 'titles', sans-serif;
  letter-spacing: 5px;
}

.icon-info{
  font-size: 8.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px){
  [class^="icon-info"]{
      display: none;
  }
  [class^="slider__paragraph"]{
      width: 100%;
      font-size: large;
      text-align: justify;
  }
}

@media screen and (max-width: 360px){
  .carousel__title{
    font-size: 1.5rem;
  }
}
